h1{
  text-align: center;
}
h2{
  text-align: center;
}
div.selection {
    border: 5px solid;
    border-color: #F3901D;
    margin-right: 40%;
    margin-left: 40%;
    padding: 5px;
    text-align: center;

}
div.total {
    border: 5px solid;
    border-color: #F3901D;
    margin-right: 40%;
    margin-left: 40%;
    padding: 5px;

}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
